/* Variables de tus colores */
:root {
/*    --primary-blue: #0054a4;
    --medium-blue: #286291;
    --dark-blue: #1a3668;
    --light-blue: #a4d7f4;
    --accent-orange: #ff9900;
    --light-gold: #ffc24a;
    --bg-dark: #0f172a; 
    */

    /* Paleta de el tiempo */
    --color-primario: #F5F5F5;   
    --color-hover: #1E3A5F;      
    --color-secundario: #A1A1A1; 
    --color-fondo: #0D0D0D;      
    --color-texto: #E5E5E5;   
    --blanco-puro: #FFFFFF;
    --sombra: rgba(47, 58, 86, 0.15);
    --color-tarjeta: #1A1A1A;
    --color-acento: #a4d7f4;
    --gray: #acb3bf;
    --color-borde: rgba(95, 174, 219, 0.3);
    --color-cabecera: rgba(0,0,0,0.80);

    --bg-vs: #1e1e1e; /* Fondo principal */
    --bg-nav: #252526; /* Fondo de barra de navegación */
    --bg-card: #2d2d2d; /* Fondo de tarjetas/secciones */
    --keyword: #aaffff; /* Azul grisaceo  */
    --string: #ce9178; /* Naranja/Salmón (textos) */
    --comment: #6a9955; /* Verde (comentarios) */
    --var-name: #9cdcfe; /* Azul claro (variables) */
    --text: #d4d4d4; /* Gris claro (texto normal) */
    --border-editor: #3e3e42; /* Color de bordes y líneas */

}

body {
    font-family: Consolas, 'Roboto', 'Inter', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Navbar */
.navbar {
    background-color: var(--color-cabecera); /* var(--color-cabecera) con opacidad */
    border-bottom: 2px solid var(--color-borde);
}

.navbar-brand {
    font-weight: bold;
    color: var(--color-acento) !important;
}

.nav-link {
    color: var(--color-texto) !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: var(--color-acento) !important;
}

/* Hero Section */
.hero-section {
    min-height: 80vh;
}

.highlight {
    color: var(--color-acento);
    text-decoration: underline;
    font-style: italic;
}

.celeste {
    color: var(--color-acento);
    text-decoration: underline;
    font-style: italic;
}

.btn-custom {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-radius: 50px;
    padding: 12px 35px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: var(--color-acento);
    color: var(--blanco-puro);
    transform: translateY(-3px);
}

/* Cards de Proyectos */
.section-title {
    border-left: 5px solid var(--bg-nav);
    padding-left: 15px;
}

.project-card {
    background-color: var(--color-tarjeta);
    border: 1px solid var(--color-borde);
    border-radius: 1.5rem;
    transition: 0.3s;
    overflow: hidden;
}

.project-card:hover {
    border-color: var(--color-hover);
    transform: translateY(-10px);
}

.card-img-placeholder {
    height: 180px;
    background-color: var(--color-borde);
    text-align: center;
    line-height: 180px;
}

.card-title {
    color: var(--color-acento);
    background-color: var(--bg-nav);
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.card-text {
    color: var(--color-texto) !important;
}

.card-tecnologia {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--gray) !important;
}

.btn-link {
    color: var(--color-acento);
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.btn-link:hover {
    color: var(--color-texto);
}

.border-dashed {
    border: 2px dashed var(--color-borde) !important;
    background: transparent;
}

/* Footer */
footer {
    border-top: 1px solid var(--color-borde);
    color: var(--color-acento);
}

/* --- Ajuste para dispositivos pequeños --- */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.6rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        gap: 1.2rem;
    }
}

.contact-links a {
    color: var(--color-acento);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}