/* Variables de tus colores */
:root {
    --primary-blue: #0054a4;
    --medium-blue: #286291;
    --dark-blue: #1a3668;
    --light-blue: #a4d7f4;
    --accent-orange: #ff9900;
    --light-gold: #ffc24a;
    --bg-dark: #0f172a; /* Fondo muy oscuro para contraste */
}

body {
    font-family: Roboto, 'Inter', sans-serif;
    background-color: var(--bg-dark);
    color: white;
}

/* Navbar */
.navbar {
    background-color: rgba(26, 54, 104, 0.95); /* var(--dark-blue) con opacidad */
    border-bottom: 2px solid var(--primary-blue);
}

.navbar-brand {
    font-weight: bold;
    color: var(--light-blue) !important;
}

.nav-link {
    color: white !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: var(--light-gold) !important;
}

/* Hero Section */
.hero-section {
    min-height: 80vh;
}

.highlight {
    color: var(--accent-orange);
    text-decoration: underline;
    font-style: italic;
}

.celeste {
    color: var(--light-blue);
    text-decoration: underline;
    font-style: italic;
}

.btn-custom {
    background-color: var(--primary-blue);
    color: white;
    border-radius: 50px;
    padding: 12px 35px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: var(--accent-orange);
    color: white;
    transform: translateY(-3px);
}

/* Cards de Proyectos */
.section-title {
    border-left: 5px solid var(--accent-orange);
    padding-left: 15px;
}

.project-card {
    background-color: var(--dark-blue);
    border: 1px solid var(--medium-blue);
    border-radius: 1.5rem;
    transition: 0.3s;
    overflow: hidden;
}

.project-card:hover {
    border-color: var(--light-gold);
    transform: translateY(-10px);
}

.card-img-placeholder {
    height: 180px;
    background-color: #1e293b;
    text-align: center;
    line-height: 180px;
}

.card-title {
    color: var(--accent-orange);
    background-color: rgba(26, 54, 104, 0.5);
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

.card-text {
    color: white !important;
}
.btn-link {
    color: var(--light-blue);
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.btn-link:hover {
    color: var(--light-gold);
}

.border-dashed {
    border: 2px dashed var(--medium-blue) !important;
    background: transparent;
}

/* Footer */
footer {
    border-top: 1px solid var(--medium-blue);
    color: var(--light-blue);
}